<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237174218461-g5mrkf6vmheqbh5c941l9an7c7v4la54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237174218461-g5mrkf6vmheqbh5c941l9an7c7v4la54</string>
	<key>API_KEY</key>
	<string>AIzaSyDcaErp9NY3he6hdO6kEoZLVJ3rCq_NZjM</string>
	<key>GCM_SENDER_ID</key>
	<string>237174218461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bimbamboum.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>weather-394ac</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-394ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237174218461:ios:285aa7d127504acdf08534</string>
	<key>DATABASE_URL</key>
	<string>https://weather-394ac.firebaseio.com</string>
</dict>
</plist>